* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img {
  border: none;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}
.endrow {
  border-bottom: 1px dashed #e8e8e8;
}
#index {
  padding-top: 60px;
  background-color: #fbfbfb;
}
#technology {
  padding-top: 60px;
  background-color: #f3f3f3;
}
#tools {
  padding-top: 60px;
  background-color: #fbfbfb;
}
#samples {
  padding-top: 60px;
  background-color: #f3f3f3;
}
html {
  background-color: #e7e7e7;
}
footer {
  background-color: #e7e7e7;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid #dcdcdc;
}
